---
import '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>Artworks</h2>
  <p>Discover the beautiful artworks by Anika!</p>
  <section>
    <p>This is where artworks will go.</p>
  </section>
</BaseLayout>