---
import '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>Recipes</h2>
  <p>Try out the delicious recipes by Anika!</p>
  <section>
    <p>This is where recipes will go.</p>
  </section>
</BaseLayout>