---
import '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>Stories</h2>
  <p>Explore the wonderful stories created by Anika!</p>
  <section>
    <p>This is where stories will go.</p>
  </section>
</BaseLayout>